<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://www.mfac.or.kr/web/css/reset.css?ver=20231011" rel="stylesheet" type="text/css">
    <link href="https://www.mfac.or.kr/web/css/swiper.min.css" rel="stylesheet" type="text/css">
    <link href="https://www.mfac.or.kr/web/css/common.css?ver=20231011" rel="stylesheet" type="text/css">
    <link href="https://www.mfac.or.kr/web/css/sub.css?ver=20231011" rel="stylesheet" type="text/css">
    <link href="https://www.mfac.or.kr/web/css/responsive.css?ver=20231011" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="wrap">
        <div class="contents">
            <div class="view_wrap whole_wrap">
                <div class="container">
                    <div class="view_top">
                        <div class="imgbox">
                            <span><img src="https://www.mfac.or.kr/mapoArt/f/upload/show/show_0_20230711162154.jpg"
                                    alt="＂제8회 M클래식 축제＂<br/>〈메인콘서트〉 지휘자 김건 × M 클래식 페스티벌 오케스트라 × 피아니스트 김도현"></span>
                        </div><!-- //imgbox -->
                        <div class="txtbox">

                            <h3>＂제8회 M클래식 축제＂<br>〈메인콘서트〉 지휘자 김건 × M 클래식 페스티벌 오케스트라 × 피아니스트 김도현</h3>
                            <ul>
                                <li>
                                    <p>장르</p><span>클래식</span>
                                </li>
                                <li>
                                    <p>기간</p><span>2023.10.11 ~ 2023.10.11</span>
                                </li>
                                <li>
                                    <p>시간</p><span>(수) 20:00</span>
                                </li>
                                <li>
                                    <p>소요시간</p><span>약 100분(인터미션 15분)</span>
                                </li>
                                <li>
                                    <p>장소</p><span>아트홀맥</span>
                                </li>
                                <li>
                                    <p>입장연령</p><span>8세이상 관람가능(미취학아동입장불가)</span>
                                </li>
                                <li>
                                    <p>티켓가격</p><span>R석 50,000원<br> S석 30,000원 <br>A석 20,000원</span>
                                </li>
                                <li>
                                    <p>주최,주관</p><span>주최,주관 : 마포구, 마포문화재단<br>후원: 서울시</span>
                                </li>



                                <li>
                                    <p>구분</p><span>마포문화재단기획공연</span>
                                </li>
                                <li>
                                    <p>문의 전화</p><span>02-3274-8600[문의1]</span>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="view_contbox">
                        <div class="view_tab">
                            <ul class="w_block">
                                <li class="on"><a href="javascript:void(0);">상세 정보</a></li>
                            </ul>
                            <div class="m_tab">
                                <label for="sub_tab" class="desc_txt">서브 메뉴</label>
                                <select id="sub_tab">
                                    <option>상세 정보</option>
                                </select>
                            </div>
                        </div><!-- //view_tab -->
                        <div class="view_cont">
                            <br><br>
                            <div style="text-align: center;">
                                <strong style="font-size: 22px; text-align: center;">
                                    <a href="https://www.mfac.or.kr/festival/mpf_info2023_2.jsp?sc_type=1"
                                        style="color: inherit; margin: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline; text-decoration-line: none;"><span
                                            style="color: rgb(0, 0, 255);">
                                            <span
                                                style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; vertical-align: baseline;"><span
                                                    style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; vertical-align: baseline;"><span
                                                        style="background-color: rgb(204, 255, 204);">◈◈▷▶ M클래식 축제 전체 일정
                                                        바로가기
                                                    </span>
                                                    <span
                                                        style="margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; font-family: inherit; font-optical-sizing: inherit; font-kerning: inherit; font-feature-settings: inherit; font-variation-settings: inherit; vertical-align: baseline;"><span
                                                            style="background-color: rgb(204, 255, 204);">&nbsp;&nbsp;◁◀</span>
                                                    </span>
                                                    <span style="background-color: rgb(204, 255, 204);">◈◈</span>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </strong>
                                <br>
                                <br>
                                <br>
                                <strong><span style="font-size:18px;"><span style="color:#000080;">※ 티켓오픈일정</span><br>
                                        <span style="font-size:16px;"><span style="color:#006666;">☆ 유료회원 선예매 : 7.6(목)
                                                오후2시&nbsp; &nbsp;&nbsp;<br>
                                                ☆ 일반 예매 : 7.7(금) 오후2시</span></span></span></strong><br>
                                <img alt="홍보이미지" src="/userfiles/img_20231010173642.jpg"
                                    !style="width: 1000px; height: 709px;"><br>
                                <br>
                            </div>

                        </div><!-- //view_cont -->
                        <a href="javascript:void(0);" id="btnList" class="list_btn"><img
                                src="https://www.mfac.or.kr/web/images/sub/list_ico.png" alt="목록 이미지">목록보기 </a>
                    </div><!-- //view_contbox -->
                </div><!-- //container -->
            </div>
        </div>
    </div>
</body>

</html>