<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<resultMap type="Board" id="boardResult">
		<result column="board_no" property="boardNo"/>
		<result column="board_title" property="boardTitle"/>
		<result column="board_content" property="boardContent"/>
		<result column="board_writer" property="boardWriter"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
		<result column="count" property="count"/>
		<result column="create_date" property="createDate"/>
		<result column="status" property="status"/>
	</resultMap>
	
	<resultMap type="Place" id="placeResult">
		<result column="p_no" property="pno"/>
		<result column="p_title" property="ptitle"/>
		<result column="p_content" property="pcontent"/>
		<result column="p_address" property="paddress"/>
		<result column="p_location" property="plocation"/>
		<result column="p_img1" property="pimg1"/>
		<result column="p_img2" property="pimg2"/>
		<result column="p_img3" property="pimg3"/>
		<result column="p_img4" property="pimg4"/>
	</resultMap>
	
	
	<resultMap type="Reply" id="replyResult">
		<result column="reply_no" property="replyNo"/>
		<result column="reply_content" property="replyContent"/>
		<result column="reply_writer" property="replyWriter"/>
		<result column="create_date" property="createDate"/>
		<result column="status" property="status"/>
	</resultMap>
	<select id="selectListCount" resultType="_int">
		select count(*)
		  from board
		 where status='Y'
	</select>
	
	<select id="selectList" resultMap="boardResult">
		select board_no
		     , board_title
		     , board_writer
		     , count
		     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
		  from board
		 where status = 'Y'
		 order 
		    by board_no desc
		 
	</select>
	
	<insert id="insertBoard" parameterType="Board">
		  insert 
			into board
			  (
			    board_no
			  , board_title
			  , board_writer
			  , board_content
			  , origin_name
			  , change_name
			  ) 
			  values
			  (
			   	seq_bno.nextval
			  , #{boardTitle}
			  , #{boardWriter}
			  , #{boardContent}
			  , #{originName}
			  , #{changeName}
			  )
	</insert>
	
	<update id="increaseCount">
		update board
		   set count = count+1
		   where board_no = #{ boardNo }
	</update>
	
	
	<select id="selectBoard" resultMap="boardResult">
		select
			   board_no
			 , board_title
			 , board_writer
			 , board_content
			 , origin_name
			 , change_name
			 , count
			 , to_char(create_date, 'YYYY-MM-DD') as "create_date"
			  from board
		 where board_no = #{ boardNo }
	</select>
	
	<update id="deleteBoard">
		update board
		   set status = 'N'
		   where board_no = #{boardNo}
	</update>
	
	<update id="updateBoard">
		update
			   board
		   set board_title = #{boardTitle}
		     , board_content = #{boardContent}
		     , origin_name = #{originName}
		     , change_name = #{changeName}
		 where board_no = #{boardNo}
	</update>
	
	<select id="selectReplyList" resultMap="replyResult">
		select
			   reply_no
			 , reply_writer
			 , reply_content
			 , to_char(create_date, 'YYYY-MM-DD') as "create_date"
	      from reply
		 where status='Y'
		   and ref_bno = #{boardNo}
		 order
		       by reply_no desc
	</select>
	
	<insert id="insertReply">
		insert
		  into reply
		  (
		  	reply_no
		  , reply_content
		  , ref_bno
		  , reply_writer
		  
		  )
		  values
		  (
		  	seq_rno.nextval
		  , #{replyContent}
		  , #{refBoardNo}
		  , #{replyWriter}
		  )		  
	</insert>
	
	<select id="selectTopBoardList" resultMap="boardResult">
		SELECT *
		  FROM 
		   (select board_no
			     , board_title
			     , board_writer
			     , origin_name
			     , count
			     , to_char(create_date, 'YYYY-MM-DD') as "create_date"
			  from board
			 where status = 'Y'
			 order 
			    by count desc
			 )			
		 where rownum between 1 and 5
	</select>
	
	
	
	
	
	
	
	<select id="selectPlaceList" resultMap="placeResult">
		select p_no
		     , p_title
		     , p_content
		     , p_location
		     , p_address
		     , p_img1
		  from place
		 order 
		    by p_no desc
	</select>
	
	
	
	
	
</mapper>
