<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="sgroupMapper">

	<resultMap id="SgroupResult" type="Sgroup">
		<result column="group_no" property="groupNo"/>
		<result column="img" property="img"/>
		<result column="nickname" property="userNo"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="me_total" property="meTotal"/>
		<result column="location" property="location"/>
		<result column="gr_date" property="grDate"/>
		<result column="create_date" property="createDate"/>
		<result column="status" property="status"/>
		<result column="me_count" property="meCount"/>
	</resultMap>

	<select id="selectTgListCount" resultType="_int">
		select
			count(*)
			from s_group
			where status = 'Y'
	</select>
	
	<select id="selectTgList" resultMap="SgroupResult">
		SELECT 
		  sg.group_no,
		  sg.img,
		  sg.title,
		  sg.user_no,
		  m.nickname,
		  sg.location,
		  sg.me_total,
		  sg.me_count,
		  TO_CHAR(sg.gr_date, 'YYYY-MM-DD') AS gr_date
		FROM
		  s_group sg
		JOIN
		  member m on m.user_no = sg.user_no
		WHERE
		  sg.status = 'Y'
		ORDER BY
		  sg.group_no DESC
	</select>
	
	<select id="selectTgBoard" resultMap="SgroupResult">
		SELECT
			sg.group_no,
			sg.img,
		    sg.title,
		    sg.content,
		    m.nickname,
		    sg.location,
		    sg.me_total,
		    sg.me_count,
		    TO_CHAR(sg.gr_date, 'YYYY-MM-DD') AS gr_date
		FROM
		    s_group sg
		JOIN
		    member m ON m.user_no = sg.user_no
		WHERE
		    sg.group_no = #{boardNo}
		ORDER BY
		    sg.group_no DESC

	</select>
	
	<insert id="insertSgBoard">
    INSERT 
    	INTO s_group 
    	( 
    	 group_no,
    	 title,
    	 img,
    	 content,
    	 me_total,
    	 location,
    	 gr_date,
    	 user_no,
    	 create_date,
    	 status,
    	 board_type
    	 )
    	VALUES 
    	(
    	seq_sgr.nextval,
    	#{title},
    	#{img}, 
    	#{content}, 
    	#{meTotal}, 
    	#{location}, 
    	#{grDate},
    	1,
    	sysdate,
    	'Y',
    	3
    	)
	</insert>
	
	<delete id="deleteTogether">
	    DELETE FROM s_group
	    WHERE group_no = #{boardNo}
	</delete>
	
	<insert id="enrollGroup">
		INSERT INTO group_d
			VALUES
			(
			  #{groupNo}
			, #{userNo}
			)
	</insert>
	
	<update id="groupCount">
		update s_group
		set me_count = me_count + 1
		where group_no = #{groupNo}
	</update>
	
	
</mapper>
	