<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="shopMapper">

	<resultMap type="Product" id="shopResult">
		<result column="p_no" property="pNo"/>
		<result column="p_name" property="pName"/>
		<result column="category_no" property="categoryNo"/>
		<result column="brand_no" property="brandNo"/>
		<result column="price" property="price"/>
		<result column="amount" property="amount"/>
		<result column="thumbnail" property="thumbnail"/>
		<result column="p_dimg" property="pDimg"/>
		<result column="p_simg" property="pSimg"/>
		<result column="p_type" property="pType"/>
	</resultMap>

	<resultMap type="Cart" id="cartResult">
		<result column="p_no" property="pNo"/>
		<result column="user_no" property="userNo"/>
		<result column="amount" property="amount"/>
		<result column="p_name" property="pName"/>
		<result column="brand_no" property="brandNo"/>
		<result column="brand_name" property="brandName"/>
		<result column="thumbnail" property="thumbnail"/>
		<result column="p_type" property="pType"/>
		<result column="productamount" property="productamount"/>
		<result column="cartamount" property="cartamount"/>
		<result column="productprice" property="productprice"/>
		<result column="brandnoe" property="brandnoe"/>
		<result column="brandnamee" property="brandnamee"/>
	</resultMap>
	
	<resultMap type="Orders" id="ordersResult">
		<result column="order_no" property="orderNo"/>
		<result column="user_no" property="userNo"/>
		<result column="name" property="name"/>
		<result column="address" property="address"/>
		<result column="postcode" property="postcode"/>
		<result column="phone" property="phone"/>
		<result column="totalPrice" property="totalPrice"/>
		<result column="o_msg" property="OMsg"/>
		<result column="d_msg" property="DMsg"/>
		<result column="order_date" property="orderDate"/>
		<result column="status" property="status"/>
		<result column="ordercount" property="ordercount"/>
		<result column="ordertotalprice" property="ordertotalprice"/>
		<result column="delivery" property="delivery"/>
		<result column="oorder_no" property="oorderNo"/>
		<result column="ouser_no" property="ouserNo"/>
		<result column="pp_no" property="ppNo"/>
		<result column="ostatus" property="ostatus"/>
		<result column="thumbnail" property="thumbnail"/>
		<result column="p_name" property="pName"/>
	</resultMap>

	<resultMap type="Templates" id="TemplateResult">
   		<result column="t_no" property="tNo"/>
   		<result column="tem_name" property="temName"/>
   		<result column="price" property="price"/>
   		<result column="p_type" property="pType"/>
   		<result column="title_img" property="titleImg"/>
   		<result column="tem_img" property="temImg"/>
   		<result column="status" property="status"/>
   </resultMap>
	
	 <select id="selectProductList" resultMap="shopResult">
		select
	 				p_no
	 			,	p_name
	 			,	category_no
	 			,	brand_no
	 			,	price
	 			,	amount
	 			,	status
	 			,	thumbnail
	 			,	p_dimg
	 			,	p_simg
	 			,	p_type
	 		from product
	 	   where status ='Y'
	 	   order
 	   		by p_no desc
	 </select>
	 
	 <select id="selectProduct" resultMap="shopResult">
	 	select
	 			p_no
	 		,	p_name
	 		,	category_no
	 		,	brand_no
 			,	price
 			,	amount
 			,	status
 			,	thumbnail
 			,	p_dimg
 			,	p_simg
 			,	p_type
 		from product
 	   where p_no = #{pNo}
 	     and status = 'Y'
 	     order
 	   		by p_no desc
	 </select>
	 
	 <select id="seletCartList" resultMap="cartResult">
	 	select
		 		p_no
		 	,	user_no
		 	,	amount
		 	from cart
		 where user_no = #{user_no}
		 	order
 	   		by p_no desc
	 </select>
	 
	 <insert id="insertCartProduct">
	 	insert
			into cart
			(
				p_no
			,	user_no
			,	amount
			)
			values
			(
				#{pNo}
			,	#{userNo}
			,	#{amount}
			)
	 </insert>
  
	 <select id="selectCartProList" resultMap="cartResult">
		select
		        p_no
		    ,   user_no
		    ,   c.amount as cartamount
		    ,   p.price as productprice
		    ,   p_name
		    ,   b.brand_no as brandnoe
		    ,   b.brand_name as brandnamee
		    ,	thumbnail
            ,   p.amount as productamount
		from cart c
		join product p using (p_no)
		join member using (user_no)
		join brand b on p.brand_no = b.brand_no
		where user_no =#{userNo}
		order
 	   		by p_no desc 
	 </select>
	 
	 <update id="updateCartAmount">
	 	update cart
	 	   set amount = #{amount}
	     where p_no = #{pNo}
	       and user_no = #{userNo}
	 </update>

	<delete id="deleteCartProduct">
		delete
		    from cart
		    where p_no = #{pNo}
		    and user_no = #{userNo}
	</delete>
	
	<select id="selectCartBuy" resultMap="cartResult">
		select
		        p_no
		    ,   user_no
		    ,   c.amount as cartamount
		    ,   p.price as productprice
		    ,   p_name
		    ,   b.brand_no as brandnoe
		    ,   b.brand_name as brandnamee
		    ,	thumbnail
		    ,	p_type
		from cart c
		join product p using (p_no)
		join member using (user_no)
		join brand b on p.brand_no = b.brand_no
		where user_no =#{userNo}
		  and p_no = #{pNo}
		  order
 	   		by p_no desc 
	</select>
	
	<select id="selectProductamount" resultType="_int">
		select
				p_no
			,	amount
		from product
		where p_no = #{pNo}
	</select>
	
	<select id="selectBuyProduct" resultMap="shopResult">
		select
	 				p_no
	 			,	p_name
	 			,	category_no
	 			,	brand_no
	 			,	price
	 			,	amount
	 			,	status
	 			,	thumbnail
	 			,	p_type
	 		from product
	 	   where status ='Y'
	 	    and p_no = #{pNo}
	 	   order
 	   		by p_no desc
	</select>
	
	<select id="selectshopkeyword" resultMap="shopResult">
		select
	 				p_no
	 			,	p_name
	 			,	category_no
	 			,	brand_no
	 			,	price
	 			,	amount
	 			,	status
	 			,	thumbnail
	 			,	p_type
	 		from product
	 	   where status ='Y'
	 	      AND UPPER(p_name) LIKE UPPER('%' || #{keyword} || '%')
	 	   order
 	   		by p_no desc
	</select>
	
	<select id="selectbrandProduct" resultMap="shopResult">
		select
	 				p_no
	 			,	p_name
	 			,	category_no
	 			,	brand_no
	 			,	price
	 			,	amount
	 			,	status
	 			,	thumbnail
	 			,	p_type
	 		from product
	 	   where status ='Y'
	 	     and brand_no = #{brandNo}
	 	   order
 	   		by p_no desc
	</select>
	
	<select id="selectAllSearchProduct" resultMap="shopResult">
		select
	 				p_no
	 			,	p_name
	 			,	category_no
	 			,	brand_no
	 			,	price
	 			,	amount
	 			,	status
	 			,	thumbnail
	 			,	p_type
	 		from product
	 	   where status ='Y'
	 	     and brand_no = #{brandNo}
	 	     and category_no = #{categoryNo}
	 	   order
 	   		by p_no desc
	</select>
	
	<insert id="insertOneOrder">
		insert
			into orders
			(
				order_no
			,	user_no
			,	name
			,	address
			,	postcode
			,	phone
			,	order_date
			,	totalPrice
			,	o_msg
			,	d_msg
			)
			values
			(
				SEQ_ORDER_NO.nextval
			,	#{userNo}
			,	#{name}
			,	#{address}
			,	#{postcode}
			,	#{phone}
			,	sysdate
			,	#{totalPrice}
			,	#{oMsg}
			,	#{dMsg}
			)
	</insert>
	
	<insert id="insertOneDorder">
		insert
			into d_order
			(
				order_no
			,	p_no
			,	user_no
			,	amount
			,	p_type
			)
			values
			(
				SEQ_ORDER_NO.currval
			,	#{pNo}
			,	#{userNo}
			,	#{amount}
			,	#{pType}
			)
	</insert>
	
	<select id="selectOrderNo" resultMap="ordersResult">
		
	select *	
	from(
		select e.*, rownum as r
		from (	
				select
						order_no
					,	user_no
					,	name
					,	address
					,	postcode
					,	phone
					,	totalPrice
					,	o_msg
					,	d_msg
					,	order_date
					,	status
			     from orders
			     where user_No = #{userNo}
			     order by order_no desc
			   )e
			)
			where r = 1
	</select>
	
	<select id="selectAmount" resultMap="cartResult">
		select 
		    p.amount as productamount
		,   p_no
		from cart c
		join product p using(p_no)
		where user_no = #{userNo}
	</select>
	
	<select id="selectOrderInfo" resultMap="ordersResult">
		select 
				count(*) as ordercount
			,	sum(totalprice) as ordertotalprice
				from orders
				where user_no=#{userNo}
	</select>
	
	<select id="selectOrder" resultMap="ordersResult">
		select
		        o.order_no as oorder_no
		    ,   o.user_no as ouser_no
		    ,   name
		    ,   phone
		    ,   p_name
		    ,   p.p_no as pp_no
		    ,   thumbnail
		    ,   o.status as ostatus
		    ,   address || postcode as delivery
		    ,   order_date
		    ,   totalPrice
		from orders o
		left join d_order d on(o.order_no = d.order_no)
		left join product p on(d.p_no = p.p_no)
		where o.user_no = #{userNo}
		order by o.order_no desc
	</select>
	
	<select id="selectOrderListCount" resultType="_int">
		select
		        count(*)
		    from orders
		where user_no = #{userNo}
	</select>
	
	<update id="updateProduct">
		update product
			set amount = amount - ${amount}
			where p_no = #{pNo}
	</update>
	
	<insert id="insertPhoto">
		insert 
		  into photoDetail
		 (
		   P_NO
		 , T_NO
	 	 , USER_NO
		 , IMGS
		 , CREATE_DATE
		 , STATUS
		 ) 
		  values
		 (
		  SEQ_PHOTO_NO.CURRVAL
		 , #{TNo}
		 , #{userNo}
		 , #{imgs}
		 , sysdate
		 , 'B'
		 )
	</insert>
	
	<select id="selectTemplate" resultMap="TemplateResult">
		select
				t_no
			,	tem_name
			,	price
			,	p_type
			,	title_img
			,	tem_img
		from templates
		where status ='Y'
		order
			by t_no desc
	</select>
	
	<select id="selectTemplateDetail" resultMap="TemplateResult">
		select
				t_no
			,	tem_name
			,	price
			,	p_type
			,	title_img
			,	tem_img
		from templates
		where t_no = #{TNo}
	</select>
	<insert id="insertOnePhoto">
		insert
			into photo
			(
				p_no
			,	t_no
			,	user_no
			,	create_date
			,	count
			)
			values
			(
				SEQ_PHOTO_NO.nextval
			,	#{TNo}
			,	#{userNo}
			,	sysdate
			,	#{count}
			)
	</insert>
</mapper>
