<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="shopMapper">

	<resultMap type="Product" id="shopResult">
		<result column="p_no" property="pNo"/>
		<result column="p_name" property="pName"/>
		<result column="category_no" property="categoryNo"/>
		<result column="brand_no" property="brandNo"/>
		<result column="price" property="price"/>
		<result column="amount" property="amount"/>
		<result column="thumbnail" property="thumbnail"/>
		<result column="p_dimg" property="pDimg"/>
		<result column="p_simg" property="pSimg"/>
	</resultMap>

	<resultMap type="Cart" id="cartResult">
		<result column="p_no" property="pNo"/>
		<result column="user_no" property="userNo"/>
		<result column="amount" property="amount"/>
		<result column="p_name" property="pName"/>
		<result column="brand_no" property="brandNo"/>
		<result column="brand_name" property="brandName"/>
		<result column="thumbnail" property="thumbnail"/>
	</resultMap>

	 <select id="selectProductList" resultMap="shopResult">
		select
	 				p_no
	 			,	p_name
	 			,	category_no
	 			,	brand_no
	 			,	price
	 			,	amount
	 			,	status
	 			,	thumbnail
	 			,	p_dimg
	 			,	p_simg
	 		from product
	 	   where status ='Y'
	 	   order
 	   		by p_no desc
	 </select>
	 
	 <select id="selectProduct" resultMap="shopResult">
	 	select
	 			p_no
	 		,	p_name
	 		,	category_no
	 		,	brand_no
 			,	price
 			,	amount
 			,	status
 			,	thumbnail
 			,	p_dimg
 			,	p_simg
 		from product
 	   where p_no = #{pNo}
 	     and status = 'Y'
	 </select>
	 
	 <select id="seletCartList" resultMap="cartResult">
	 	select
		 		p_no
		 	,	user_no
		 	,	amount
		 	from cart
		 where user_no = #{user_no}
	 </select>
	 
	 <insert id="insertCartProduct">
	 	insert
			into cart
			(
				p_no
			,	user_no
			,	amount
			)
			values
			(
				#{pNo}
			,	#{userNo}
			,	#{amount}
			)
	 </insert>
	 
	 <select id="selectCartProList" resultMap="cartResult">
		select
		        p_no
		    ,   user_no
		    ,   c.amount
		    ,   p.price
		    ,   p_name
		    ,   b.brand_no
		    ,   b.brand_name
		    ,	thumbnail
		from cart c
		join product p using (p_no)
		join member using (user_no)
		join brand b on p.brand_no = b.brand_no
		where user_no =#{userNo}	 
	 </select>
	 
	 <update id="updateCartAmount">
	 	update cart
	 	   set amount = #{amount}
	     where p_no = #{pNo}
	       and user_no = #{userNo}
	 </update>

</mapper>
