<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/> 
	</settings>
	
	
	<typeAliases>
		<typeAlias type="com.kh.hobbyphoto.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.hobbyphoto.board.model.vo.Place" alias="Place"/>
		<typeAlias type="com.kh.hobbyphoto.board.model.vo.Reply" alias="Reply"/>
		<typeAlias type="com.kh.hobbyphoto.board.model.vo.Festival" alias="Festival"/>
        <typeAlias type="com.kh.hobbyphoto.board.model.vo.BackGround" alias="BackGround"/>
		<typeAlias type="com.kh.hobbyphoto.group.model.vo.Sgroup" alias="S_group"/>
		<typeAlias type="com.kh.hobbyphoto.group.model.vo.Sgroup" alias="Sgroup"/>
		<typeAlias type="com.kh.hobbyphoto.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.hobbyphoto.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.hobbyphoto.upfile.model.vo.Attachment" alias="Attachment"/>
		<typeAlias type="com.kh.hobbyphoto.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.kh.hobbyphoto.shop.model.vo.Product" alias="Product"/>
		<typeAlias type="com.kh.hobbyphoto.shop.model.vo.Cart" alias="Cart"/>
		<typeAlias type="com.kh.hobbyphoto.common.model.vo.Report" alias="Report"/>
		<typeAlias type="com.kh.hobbyphoto.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.kh.hobbyphoto.member.model.vo.Block" alias="Block"/>
        <typeAlias type="com.kh.hobbyphoto.board.model.vo.BackGround" alias="BackGround"/>
	</typeAliases>


	<mappers>
		<mapper resource="/mappers/board-mapper.xml"/>
		<mapper resource="/mappers/notice-mapper.xml"/>
		<mapper resource="/mappers/sgroup-mapper.xml"/>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/shop-mapper.xml"/>
		<mapper resource="/mappers/admin-mapper.xml"/>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/notice-mapper.xml"/>
	</mappers>
</configuration>
