<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/> 
	</settings>
	
	
	<typeAliases>
		<typeAlias type="com.kh.hobbyphoto.board.model.vo.Board" alias="Board"/>
		<typeAlias type="com.kh.hobbyphoto.group.model.vo.Sgroup" alias="Sgroup"/>
		<typeAlias type="com.kh.hobbyphoto.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.hobbyphoto.upfile.model.vo.Attachment" alias="Attachment"/>
		<typeAlias type="com.kh.hobbyphoto.shop.model.vo.Product" alias="Product"/>
		<typeAlias type="com.kh.hobbyphoto.shop.model.vo.Cart" alias="Cart"/>
		
	</typeAliases>


	<mappers>
		<mapper resource="/mappers/board-mapper.xml"/>
		<mapper resource="/mappers/sgroup-mapper.xml"/>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/shop-mapper.xml"/>
		<mapper resource="/mappers/admin-mapper.xml"/>
	</mappers>
</configuration>
